@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Source+Serif+Pro:wght@400;600&display=swap");

:root {
  --text-dark: #130f26;
  --text-light: #585565;
  --primary: #5c8b58;
  --font-family-primary: "EB Garamond", serif;
  --font-family-secondary: "Source Serif Pro", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.out-red {
  outline: 1px solid red;
}

body {
  background-color: #f9f9f9;
  height: 100%;
}

body,
button {
  font-family: var(--font-family-secondary);
}

.container {
  max-width: 1200px;
  margin-inline: auto;
}

/* header */

.header {
  width: 100%;
  height: fit-content;
}

.header nav {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
  list-style: none;
}

.nav-links li a {
  font-size: 17px;
  color: var(--text-light);
}

.nav-links li a:hover,
.nav-links li a:active {
  color: var(--text-dark);
}

.btn-bag {
  display: block;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  transition: all 150ms ease-in;
  position: relative;
}

.btn-bag i {
  font-size: 20px;
  color: var(--text-light);
}

.btn-bag:hover {
  background-color: rgba(255, 255, 255, 0.72);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.08);
}

.btn-bag:hover i {
  color: var(--text-dark);
}

.btn-bag-qty {
  display: flex;
  position: absolute;
  background-color: var(--primary);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 10px;
  color: #fff;
  right: 0;
  top: 0;
}

.btn-mobile {
  padding: 8px;
  border-radius: 50%;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  display: none;
}

.nav-btn-wrapper {
  display: flex;
  gap: 1.5rem;
}

/* above */

.above {
  height: fit-content;
  width: 100%;
  position: relative;
}

.above-heading {
  margin: 56px 0 72px;
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  gap: 140px;
}

.above-heading h1 {
  font-size: 64px;
  font-weight: 400;
  max-width: 20ch;
  color: var(--text-dark);
  font-family: var(--font-family-primary);
}

.above-heading div {
  padding-top: 1.2rem;
  max-width: 40%;
}

.above-heading p {
  color: var(--text-light);
  line-height: 140%;
}

.above-heading a {
  display: inline-block;
  margin-top: 32px;
  padding: 14px 32px;
  background-color: var(--primary);
  color: #fff;
}

.above-bg {
  width: 100%;
  height: 384px;
  overflow: hidden;
}

.above-bg img {
  width: 100%;
}

/* product */

.products {
  width: 100%;
  height: fit-content;
  padding: 80px 0 64px;
}

.products h2 {
  font-size: 40px;
  max-width: 32ch;
  text-align: center;
  margin: 0 auto 32px;
  color: var(--text-dark);
  font-weight: 400;
  font-family: var(--font-family-primary);
}

.products .tabs-products {
  margin: 0 auto 72px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.products .tabs-products .tabs-products-btn {
  padding: 12px 20px;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  background-color: transparent;
  position: relative;
}

.products .tabs-products .tabs-products-btn.active,
.products .tabs-products .tabs-products-btn:hover {
  color: #5c8b58;
  background-color: #5c8b580e;
}

.products .tabs-products .tabs-products-btn.active::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  width: 40px;
  height: 3px;
  border-radius: 1rem;
  background-color: #70ac6b;
}

.products-wrapper {
  display: flex;
  justify-content: center;
  gap: 48px;
  flex-wrap: wrap;
}

.products-card {
  width: 264px;
  height: 300px;
  background-color: #ffff;
  border-radius: 24px;
  transition: all 150ms ease-in;
}

.products-card:hover {
  box-shadow: 0 10px 24px -3px rgba(0, 0, 0, 0.07);
}

.products-card__img {
  height: 160px;
  width: 100%;
  border-radius: 24px 24px 0 0;
  background: linear-gradient(
    0deg,
    rgba(249, 249, 249, 0.48) 0%,
    rgba(249, 249, 249, 1) 100%
  );
  position: relative;
}

.products-card__img img {
  transition: all 100ms ease-in;
  position: absolute;
  width: 100%;
  bottom: -10px;
}

.products-card:hover .products-card__img img {
  bottom: 8px;
}

.products-card__desc {
  padding: 24px;
  position: relative;
  height: calc(100% - 160px);
}

.products-card-type {
  font-size: 15px;
  color: var(--text-light);
  margin-bottom: 8px;
}

.products-card-title {
  color: var(--text-dark);
  font-family: var(--font-family-primary);
  font-size: 18px;
  font-weight: 600;
}

.products-card-price {
  position: absolute;
  bottom: 24px;
}

.products .theme {
  display: flex;
  gap: 48px;
  margin: 96px 0 40px;
}

.products .theme-card {
  border-radius: 24px;
  overflow: hidden;
  position: relative;
  transition: 250ms ease-in;
}

.products .theme-card:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.8;
}

.products .theme-card img {
  width: 100%;
  height: 100%;
}

.about {
  background-color: #ececec;
  padding: 88px 0;
}

.about h2 {
  font-size: 32px;
  columns: var(--text-dark);
  margin-bottom: 40px;
  font-family: var(--font-family-primary);
  font-weight: 400;
}

.about p {
  color: var(--text-light);
  max-width: 60ch;
  font-size: 18px;
  line-height: 150%;
}

.about .container {
  display: flex;
  justify-content: space-between;
}

.about-number {
  margin-top: 72px;
  display: flex;
  gap: 80px;
  text-align: center;
}

.feature {
  margin: 104px 0;
}

.feature h2 {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.feature p {
  color: var(--text-light);
  opacity: 0.72;
  line-height: 150%;
  font-size: 18px;
}

.feature .container {
  display: flex;
}

.feature-img {
  width: 423px;
  height: 432px;
  border-radius: 24px;
  background-color: #f1f1f1;
}

.feature-right {
  margin-left: 190px;
}

.feature-list {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.feature-list div {
  width: 50%;
  margin-top: 48px;
}

.feature div h4 {
  margin-bottom: 1rem;
}

.feature-list p {
  font-size: 1rem;
}

.testimonial {
  padding: 0 0 80px;
}

.testimonial .testimonial-wrapper {
  display: flex;
  gap: 48px;
}

.testimonial h2 {
  margin-bottom: 40px;
  max-width: 24ch;
  line-height: 150%;
  font-size: 32px;
  color: var(--text-dark);
}

.testimonial-card {
  border-radius: 1rem;
  border: 1px solid #e0e0e0;
  padding: 32px;
  transition: all 150ms ease-in;
}

.testimonial-card:hover {
  background-color: #fff;
  border-color: #fff;
  box-shadow: 0 8px 24px -12px rgba(0, 0, 0, 0.16);
}

.testimonial-card p:first-child {
  color: var(--text-light);
  margin-bottom: 1rem;
}

.testimonial-user p {
  color: var(--text-light);
}

.testimonial-user p:first-child {
  font-size: 18px;
  color: var(--text-dark);
  font-weight: 600;
  margin-bottom: 4px;
}

.footer-top {
  text-align: center;
  padding: 56px 0 80px;
}

.footer-below,
.footer-links,
.footer-social {
  display: flex;
}

.footer-below {
  justify-content: space-between;
  padding: 2rem 0 4rem;
}

.footer-links {
  gap: 2rem;
}

/* products page */

.above-products {
  padding: 40px 0;
}

.above-products .container {
  background-color: #f1f1f1;
  height: 220px;
  border-radius: 24px;
}

.products-area .container {
  display: flex;
}

.catalogue-products {
  width: 160px;
}

.catalogue-group {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.catalogue-group h4 {
  font-family: var(--font-family-primary);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

.catalogue-group p {
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 6px;
  margin-left: 8px;
  position: relative;
  transition: all 150ms ease-in;
}

.catalogue-group p:hover {
  color: #70ac6b;
  background-color: #5c8b580e;
}

.catalogue-group p:hover::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 60%;
  border-radius: 6px;
  background-color: #70ac6b;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.products-body {
  margin-left: 8px;
  width: calc(100% - 152px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  row-gap: 2rem;
}

.flashsale-area .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.timer {
  text-align: center;
}
