:root {
  --text-dark: #130f26;
  --text-light: #585565;
  --primary: #5c8b58;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.out-red {
    outline: 1px solid red;
}

body {
  background-color: #f9f9f9;
  height: 100%;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
}

@media (max-width: 800px) {
  .container {
    padding: 0 1rem;
  }
}

/* header */

.header {
  width: 100%;
  height: fit-content;
}

.header nav {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
  list-style: none;
}

.nav-links li a {
  font-size: 17px;
  color: var(--text-light);
}

.nav-links li a:hover,
.nav-links li a:active {
  color: var(--text-dark);
}

.btn-bag {
  display: block;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  transition: all 150ms ease-in;
  position: relative;
}

.btn-bag i {
  font-size: 20px;
  color: var(--text-light);
}

.btn-bag:hover {
  background-color: rgba(255, 255, 255, 0.72);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.08);
}

.btn-bag:hover i {
  color: var(--text-dark);
}

.btn-bag-qty {
  display: flex;
  position: absolute;
  background-color: var(--primary);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 10px;
  color: #fff;
  right: 0;
  top: 0;
}

.btn-mobile {
  padding: 8px;
  border-radius: 50%;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  display: none;
}

.nav-btn-wrapper {
    display: flex;
    gap: 1.5rem;
}

@media (max-width: 800px) {
  .header {
    padding: 0 1rem;
  }
  .nav-links {
    display: none;
  }
  .btn-mobile {
    display: flex;
  }
}

/* above */

.above {
  height: fit-content;
  width: 100%;
  position: relative;
}

.above-heading {
  margin: 56px 0 72px;
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  gap: 140px;
}

.above-heading h1 {
  font-size: 64px;
  font-weight: 600;
  max-width: 20ch;
  color: var(--text-dark);
}

.above-heading div {
  padding-top: 1.2rem;
  max-width: 40%;
}

.above-heading p {
  color: var(--text-light);
  line-height: 140%;
}

.above-heading a {
  display: inline-block;
  margin-top: 32px;
  padding: 14px 32px;
  background-color: var(--primary);
  color: #fff;
}

.above-bg {
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

.above-bg img {
  width: 100%;
}

@media (max-width: 800px) {
  .above-heading {
    flex-direction: column;
    gap: 0;
    padding: 0 1rem;
  }
  .above-heading div {
    max-width: 100%;
  }
}

/* product */

.products {
  width: 100%;
  height: fit-content;
  padding: 80px 0 64px;
}

.products h2 {
  margin-bottom: 40px;
  color: var(--text-dark);
}

.products-wrapper {
  display: flex;
  justify-content: center;
  gap: 48px;
  flex-wrap: wrap;
}

.products-card {
  width: 264px;
  height: 300px;
  background-color: #ffff;
  border-radius: 24px;
  transition: all 150ms ease-in;
}

.products-card:hover {
  box-shadow: 0 10px 24px -3px rgba(0, 0, 0, 0.07);
}

.products-card__img {
  height: 160px;
  width: 100%;
  border-radius: 24px 24px 0 0;
  background: linear-gradient(
    0deg,
    rgba(249, 249, 249, 0.48) 0%,
    rgba(249, 249, 249, 1) 100%
  );
  position: relative;
}

.products-card__img img {
  transition: all 100ms ease-in;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.products-card:hover .products-card__img img {
  bottom: 14px;
}

.products-card__desc {
  padding: 24px;
  position: relative;
  height: calc(100% - 160px);
}

.products-card-type {
  font-size: 15px;
  color: var(--text-light);
  margin-bottom: 8px;
}

.products-card-title {
  color: var(--text-dark);
  font-size: 18px;
  font-weight: 600;
}

.products-card-price {
  position: absolute;
  bottom: 24px;
}

@media (max-width: 800px) {
    .products {
        padding: 3rem 0;
    }
    .products h2 {
        margin-bottom: 5Gbrem;
    }
}